<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.tanker.mapper.TankerMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM tanker a
        <where>
            <if test="param.id != null">
                AND a.id = #{param.id}
            </if>
            <if test="param.tankcarid != null">
                AND a.tankCarId = #{param.tankcarid}
            </if>
            <if test="param.tankcarnumber != null">
                AND a.tankCarNumber = #{param.tankcarnumber}
            </if>
            <if test="param.caridennumber != null">
                AND a.carIdenNumber = #{param.caridennumber}
            </if>
            <if test="param.gpsidennumber != null">
                AND a.GPSIdenNumber = #{param.gpsidennumber}
            </if>
            <if test="param.initialtare != null">
                AND a.initialTare LIKE CONCAT('%', #{param.initialtare}, '%')
            </if>
            <if test="param.currenttare != null">
                AND a.currentTare LIKE CONCAT('%', #{param.currenttare}, '%')
            </if>
            <if test="param.subunit != null">
                AND a.subunit LIKE CONCAT('%', #{param.subunit}, '%')
            </if>
            <if test="param.personincharge != null">
                AND a.personInCharge LIKE CONCAT('%', #{param.personincharge}, '%')
            </if>
            <if test="param.remarks != null">
                AND a.remarks LIKE CONCAT('%', #{param.remarks}, '%')
            </if>
            <if test="param.status != null">
                AND a.status LIKE CONCAT('%', #{param.status}, '%')
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.tanker.entity.Tanker">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.tanker.entity.Tanker">
        <include refid="selectSql"></include>
    </select>

    <select id="findAllTankers" resultType="com.eleadmin.tanker.entity.Tanker">
        select * from tanker
    </select>
    <select id="findTankersBytankCarNumber" resultType="com.eleadmin.tanker.entity.Tanker">
        select * from tanker where tankCarNumber=#{tankcarnumber}
    </select>
    <select id="findTankersBytankCarId" resultType="com.eleadmin.tanker.entity.Tanker">
        select * from tanker where tankCarId=#{tankcarid}
    </select>

    <update id="updateTanker" parameterType="com.eleadmin.tanker.entity.Tanker">
        update tanker set tankCarId=#{tankcarid},tankCarNumber=#{tankcarnumber},carIdenNumber=#{caridennumber},GPSIdenNumber=#{gpsidennumber},
                          initialTare=#{initialtare},currentTare=#{currenttare},subunit=#{subunit},personInCharge=#{personincharge},
                          remarks=#{remarks},status=#{status} where id=#{id}
    </update>
    <delete id="deleteTanker">
        delete from tanker where id=#{id}
    </delete>
    <insert id="addTanker" parameterType="com.eleadmin.tanker.entity.Tanker">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into tanker
        (tankCarId,tankCarNumber,carIdenNumber,GPSIdenNumber,initialTare,currentTare,subunit,personInCharge,remarks,status,tenant_id)
        values (#{tankcarid},#{tankcarnumber},#{caridennumber},#{gpsidennumber},#{initialtare},#{currenttare},#{subunit},#{personincharge},#{remarks},#{status},2)
    </insert>
</mapper>
