<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.car.mapper.CarMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM car a
        <where>
            <if test="param.id != null">
                AND a.id = #{param.id}
            </if>
            <if test="param.carid != null">
                AND a.carId LIKE CONCAT('%', #{param.carid}, '%')
            </if>
            <if test="param.status != null">
                AND a.status LIKE CONCAT('%', #{param.status}, '%')
            </if>
            <if test="param.carnumber != null">
                AND a.carNumber LIKE CONCAT('%', #{param.carnumber}, '%')
            </if>
            <if test="param.caridennumber != null">
                AND a.carIdenNumber LIKE CONCAT('%', #{param.caridennumber}, '%')
            </if>
            <if test="param.gpsidennumber != null">
                AND a.GPSIdenNumber LIKE CONCAT('%', #{param.gpsidennumber}, '%')
            </if>
            <if test="param.tare != null">
                AND a.tare LIKE CONCAT('%', #{tare}, '%')
            </if>
            <if test="param.subunit != null">
                AND a.subunit LIKE CONCAT('%', #{param.subunit}, '%')
            </if>
            <if test="param.personincharge != null">
                AND a.personInCharge LIKE CONCAT('%', #{param.personincharge}, '%')
            </if>
            <if test="param.remarks != null">
                AND a.remarks LIKE CONCAT('%', #{param.remarks}, '%')
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.car.entity.Car">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.car.entity.Car">
        <include refid="selectSql"></include>
    </select>
    <select id="findAllCars" resultType="com.eleadmin.car.entity.Car">
        select  * from car
    </select>
    <update id="updateCar" parameterType="com.eleadmin.car.entity.Car">
        update car set carId=#{carid},carNumber=#{carnumber},carIdenNumber=#{caridennumber},
                       GPSIdenNumber=#{gpsidennumber},Tare=#{tare},subunit=#{subunit},
                       personInCharge=#{personincharge},remarks=#{remarks} where id=#{id}
    </update>
    <delete id="deleteCar" >
        delete from car where id=#{id}
    </delete>
    <insert id="addCar" parameterType="com.eleadmin.car.entity.Car">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into car
        (carId,carNumber,carIdenNumber,GPSIdenNumber,Tare,subunit,personInCharge,remarks,tenant_id)
        values (#{carid},#{carnumber},#{caridennumber},#{gpsidennumber},#{tare},subunit,personincharge,remarks,2)
    </insert>

</mapper>
