<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.RawMaterialManagement.material.mapper.MaterialMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM material a
        <where>
            <if test="param.id != null">
                AND a.id = #{param.id}
            </if>
            <if test="param.purchaseagreementnum != null">
                AND a.purchaseAgreementNum LIKE CONCAT('%', #{param.purchaseagreementnum}, '%')
            </if>
            <if test="param.correspondenceunit != null">
                AND a.correspondenceUnit LIKE CONCAT('%', #{param.correspondenceunit}, '%')
            </if>
            <if test="param.supplymethod != null">
                AND a.supplyMethod LIKE CONCAT('%', #{param.supplymethod}, '%')
            </if>
            <if test="param.contacts != null">
                AND a.contacts LIKE CONCAT('%', #{param.contacts}, '%')
            </if>
            <if test="param.procurementtime != null">
                AND a.procurementTime LIKE CONCAT('%', #{param.procurementtime}, '%')
            </if>
            <if test="param.deliveryplace != null">
                AND a.deliveryPlace LIKE CONCAT('%', #{param.deliveryplace}, '%')
            </if>
            <if test="param.supplymaterials != null">
                AND a.supplyMaterials LIKE CONCAT('%', #{param.supplymaterials}, '%')
            </if>
            <if test="param.platformmaterials != null">
                AND a.platformMaterials LIKE CONCAT('%', #{param.platformmaterials}, '%')
            </if>
            <if test="param.pricingunit != null">
                AND a.pricingUnit LIKE CONCAT('%', #{param.pricingunit}, '%')
            </if>
            <if test="param.conversioncoefficient != null">
                AND a.conversionCoefficient LIKE CONCAT('%', #{param.conversioncoefficient}, '%')
            </if>
            <if test="param.plannedquantity != null">
                AND a.plannedQuantity LIKE CONCAT('%', #{param.plannedquantity}, '%')
            </if>
            <if test="param.unitprice != null">
                AND a.unitPrice LIKE CONCAT('%', #{param.unitprice}, '%')
            </if>
            <if test="param.dgntime != null">
                AND a.dgnTime LIKE CONCAT('%', #{param.dgntime}, '%')
            </if>
            <if test="param.state != null">
                AND a.state LIKE CONCAT('%', #{param.state}, '%')
            </if>
            <if test="param.supplier != null">
                AND a.supplier LIKE CONCAT('%', #{param.supplier}, '%')
            </if>
            <if test="param.number != null">
                AND a.number LIKE CONCAT('%', #{param.number}, '%')
            </if>
        </where>
    </sql>
<!--查询所有采购协议-->
    <select id="findAllMA" resultType="com.eleadmin.RawMaterialManagement.material.entity.Material">
        select * from material
    </select>

    <!--根据采购时间查询采购协议-->
    <select id="findMAByPtime" resultType="com.eleadmin.RawMaterialManagement.material.entity.Material">
        select * from material where procurementTime=#{procurementtime}
    </select>

    <!--根据供应商查询采购协议-->
    <select id="findMABysupplier" resultType="com.eleadmin.RawMaterialManagement.material.entity.Material">
        select * from material where correspondenceUnit=#{correspondenceunit}
    </select>

<!--    删除-->
    <delete id="deleteMaterial">
        delete from material where id = #{id}
    </delete>

<!--    更新-->
    <update id="updateMaterial" parameterType="com.eleadmin.RawMaterialManagement.material.entity.Material">
        update material set correspondenceUnit=#{correspondenceunit},state=#{state},supplyMethod=#{supplymethod},contacts=#{contacts},
     procurementTime= #{procurementtime},deliveryPlace=#{deliveryplace},supplyMaterials=#{supplymaterials},
    platformMaterials=#{platformmaterials}, pricingUnit=#{pricingunit},conversionCoefficient=#{conversioncoefficient},
    plannedQuantity=#{plannedquantity},unitPrice=#{unitprice},dgnTime=#{dgntime},number=#{number}
       where id=#{id}
    </update>

    <!--    新增-->
    <insert id="addMaterial" parameterType="com.eleadmin.RawMaterialManagement.material.entity.Material">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer"> select LAST_INSERT_ID() </selectKey>
        insert into material(Id,purchaseAgreementNum,state,unitPrice,plannedQuantity,pricingUnit,platformMaterials,supplyMaterials,correspondenceUnit,supplyMethod,contacts,procurementTime,deliveryplace,number,tenant_id)
        values (#{id},#{purchaseagreementnum},#{state},#{unitprice},#{plannedquantity},#{pricingunit},#{platformmaterials},#{supplymaterials},#{correspondenceunit}, #{supplymethod},#{contacts},#{procurementtime},#{deliveryplace},#{number},2)
    </insert>
    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.RawMaterialManagement.material.entity.Material">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.RawMaterialManagement.material.entity.Material">
        <include refid="selectSql"></include>
    </select>

</mapper>
