<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.SalesManagement.salesContract.mapper.SalescontractMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM salescontract a
        <where>
            <if test="param.salescontractid != null">
                AND a.salesContractId = #{param.salescontractid}
            </if>
            <if test="param.number != null">
                AND a.number LIKE CONCAT('%', #{param.number}, '%')
            </if>
            <if test="param.contratype != null">
                AND a.contraType LIKE CONCAT('%', #{param.contratype}, '%')
            </if>
            <if test="param.contractamount != null">
                AND a.contractAmount LIKE CONCAT('%', #{param.contractamount}, '%')
            </if>
            <if test="param.signingtime != null">
                AND a.signingTime LIKE CONCAT('%', #{param.signingtime}, '%')
            </if>
            <if test="param.customerid != null">
                AND a.customerId = #{param.customerid}
            </if>
            <if test="param.projectid != null">
                AND a.projectId = #{param.projectid}
            </if>
            <if test="param.supplyperiodstart != null">
                AND a.supplyPeriodStart LIKE CONCAT('%', #{param.supplyperiodstart}, '%')
            </if>
            <if test="param.supplyperiodend != null">
                AND a.supplyPeriodEnd LIKE CONCAT('%', #{param.supplyperiodend}, '%')
            </if>
            <if test="param.creator != null">
                AND a.creator LIKE CONCAT('%', #{param.creator}, '%')
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.SalesManagement.salesContract.entity.Salescontract">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.SalesManagement.salesContract.entity.Salescontract">
        <include refid="selectSql"></include>
    </select>



    <select id="findAllSalescontracts" resultType="com.eleadmin.SalesManagement.salesContract.param.SalescontractParam">
        SELECT sc.*, p.*
        FROM salescontract sc
                 INNER JOIN project p ON sc.projectId = p.projectId and sc.tenant_id=2 and p.tenant_id=2
        where sc.tenant_id=2 and p.tenant_id=2
    </select>

    <!--     根据客户名称查工程 -->
    <select id="findSalescontractsByNumber" resultType="com.eleadmin.SalesManagement.salesContract.param.SalescontractParam">
        SELECT sc.*, p.*
        FROM salescontract sc
                 INNER JOIN project p ON sc.projectId = p.projectId and sc.tenant_id=2 and p.tenant_id=2
        where sc.tenant_id=2 and p.tenant_id=2 and number=#{number}
    </select>

    <insert id="addSalescontract" parameterType="com.eleadmin.SalesManagement.salesContract.entity.Salescontract">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into salescontract
        (number,contraType,contractAmount,signingTime,projectId,supplyPeriodStart,supplyPeriodEnd,
        creator,tenant_id)
        values (#{number},#{contratype},#{contractamount},#{signingtime},#{projectid},#{supplyperiodstart},
        #{supplyperiodend},#{creator},2)
    </insert>

    <update id="updateSalescontract" parameterType="com.eleadmin.SalesManagement.salesContract.entity.Salescontract">
        update salescontract set number=#{number}, contraType=#{contratype},contractAmount=#{contractamount},
            signingTime=#{signingtime}, projectId=#{projectid},supplyPeriodStart=#{supplyperiodstart},
            supplyPeriodEnd=#{supplyperiodend}, creator=#{creator}
        where salesContractId = #{salescontractid}
    </update>

    <delete id="deleteSalescontract"> delete from salescontract where salescontractId = #{salescontractid} </delete>

</mapper>
