<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleadmin.SalesManagement.project.mapper.ProjectMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.*
        FROM project a
        <where>
            <if test="param.projectid != null">
                AND a.projectId = #{param.projectid}
            </if>
            <if test="param.projectname != null">
                AND a.projectName LIKE CONCAT('%', #{param.projectname}, '%')
            </if>
            <if test="param.projectprogress != null">
                AND a.projectProgress LIKE CONCAT('%', #{param.projectprogress}, '%')
            </if>
            <if test="param.projecttype != null">
                AND a.projectType LIKE CONCAT('%', #{param.projecttype}, '%')
            </if>
            <if test="param.projectlevel != null">
                AND a.projectLevel LIKE CONCAT('%', #{param.projectlevel}, '%')
            </if>
            <if test="param.poursquare != null">
                AND a.pourSquare LIKE CONCAT('%', #{param.poursquare}, '%')
            </if>
            <if test="param.projectaddress != null">
                AND a.projectAddress LIKE CONCAT('%', #{param.projectaddress}, '%')
            </if>
            <if test="param.transportationdistance != null">
                AND a.transportationDistance LIKE CONCAT('%', #{param.transportationdistance}, '%')
            </if>
            <if test="param.construction != null">
                AND a.construction LIKE CONCAT('%', #{param.construction}, '%')
            </if>
            <if test="param.constructionunit != null">
                AND a.constructionUnit LIKE CONCAT('%', #{param.constructionunit}, '%')
            </if>
            <if test="param.customername != null">
                AND a.customerName LIKE CONCAT('%', #{param.customername}, '%')
            </if>
            <if test="param.startdate != null">
                AND a.startDate LIKE CONCAT('%', #{param.startdate}, '%')
            </if>
            <if test="param.state != null">
                AND a.state LIKE CONCAT('%', #{param.state}, '%')
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.eleadmin.SalesManagement.project.entity.Project">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.eleadmin.SalesManagement.project.entity.Project">
        <include refid="selectSql"></include>
    </select>

<!--查询工程-->
    <select id="findAllProject" resultType="com.eleadmin.SalesManagement.project.entity.Project">
        select *
        from project
    </select>

<!--    增加工程  -->
    <insert id="addProject" parameterType="com.eleadmin.SalesManagement.project.entity.Project">

        <selectKey keyProperty="projectid" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>

        insert into project
        (projectId,projectName,projectProgress,projectType,projectLevel,pourSquare,projectAddress,transportationDistance,construction,constructionUnit,customerName,startDate,state,tenant_id)
        values (#{projectid},#{projectname},#{projectprogress},#{projecttype},#{projectlevel},#{poursquare},#{projectaddress},#{transportationdistance},#{construction},#{constructionunit},#{customername},#{startdate},#{state},2)
    </insert>

    <update id="updateProject" parameterType="com.eleadmin.SalesManagement.project.entity.Project">
        update project set projectName=#{projectname},projectProgress=#{projectprogress},projectType=#{projecttype},projectLevel=#{projectlevel},pourSquare=#{poursquare},projectAddress=#{projectaddress},transportationDistance=#{transportationdistance},construction=#{construction},constructionUnit=#{constructionunit},customername=#{customername},startDate=#{startdate},state=#{state} where projectId=#{projectid}
    </update>
    <delete id="deleteProject">
        delete from project where projectId = #{projectid}
    </delete>
</mapper>
